{{ define "sort_bar" }}
    {{/* 先尝试小写 .sortQuery（gin.H 场景），否则用 .SortQuery（结构体场景） */}}

    {{ with .sortQuery }}
        <div class="btn-group btn-group-sm" role="group" aria-label="Sort Options">
            <a href="{{ .ByDetailUpdate.Href }}" class="btn btn-outline-primary {{ if .ByDetailUpdate.Active }}active disabled{{ end }}">Detail更新</a>
            <a href="{{ .ByReleasing.Href }}"    class="btn btn-outline-primary {{ if .ByReleasing.Active }}active disabled{{ end }}">上映日期</a>
            <a href="{{ .ByViewer.Href }}"       class="btn btn-outline-primary {{ if .ByViewer.Active }}active disabled{{ end }}">观看人数</a>
            <a href="{{ .ByRankDate.Href }}"     class="btn btn-outline-primary {{ if .ByRankDate.Active }}active disabled{{ end }}">上榜日期</a>
            <a href="{{ .ByDaysInRank.Href }}"   class="btn btn-outline-primary {{ if .ByDaysInRank.Active }}active disabled{{ end }}">在榜天数</a>
            <a href="{{ .ByHighestRank.Href }}"  class="btn btn-outline-primary {{ if .ByHighestRank.Active }}active disabled{{ end }}">最高排名</a>
            <a href="{{ .ByBirthTime.Href }}"    class="btn btn-outline-primary {{ if .ByBirthTime.Active }}active disabled{{ end }}">下载时间</a>
            <a href="{{ .ByLastScTime.Href }}"   class="btn btn-outline-primary {{ if .ByLastScTime.Active }}active disabled{{ end }}">最后sc</a>
            <a href="{{ .ByScTimes.Href }}"      class="btn btn-outline-primary {{ if .ByScTimes.Active }}active disabled{{ end }}">sc次数</a>
            <a href="{{ .ByComeTimes.Href }}"    class="btn btn-outline-primary {{ if .ByComeTimes.Active }}active disabled{{ end }}">co次数</a>
        </div>
    {{ else }}
        {{ with .SortQuery }}
            <div class="btn-group btn-group-sm" role="group" aria-label="Sort Options">
                <a href="{{ .ByDetailUpdate.Href }}" class="btn btn-outline-primary {{ if .ByDetailUpdate.Active }}active disabled{{ end }}">Detail更新</a>
                <a href="{{ .ByReleasing.Href }}"    class="btn btn-outline-primary {{ if .ByReleasing.Active }}active disabled{{ end }}">上映日期</a>
                <a href="{{ .ByViewer.Href }}"       class="btn btn-outline-primary {{ if .ByViewer.Active }}active disabled{{ end }}">观看人数</a>
                <a href="{{ .ByRankDate.Href }}"     class="btn btn-outline-primary {{ if .ByRankDate.Active }}active disabled{{ end }}">上榜日期</a>
                <a href="{{ .ByDaysInRank.Href }}"   class="btn btn-outline-primary {{ if .ByDaysInRank.Active }}active disabled{{ end }}">在榜天数</a>
                <a href="{{ .ByHighestRank.Href }}"  class="btn btn-outline-primary {{ if .ByHighestRank.Active }}active disabled{{ end }}">最高排名</a>
                <a href="{{ .ByBirthTime.Href }}"    class="btn btn-outline-primary {{ if .ByBirthTime.Active }}active disabled{{ end }}">下载时间</a>
                <a href="{{ .ByLastScTime.Href }}"   class="btn btn-outline-primary {{ if .ByLastScTime.Active }}active disabled{{ end }}">最后sc</a>
                <a href="{{ .ByScTimes.Href }}"      class="btn btn-outline-primary {{ if .ByScTimes.Active }}active disabled{{ end }}">sc次数</a>
                <a href="{{ .ByComeTimes.Href }}"    class="btn btn-outline-primary {{ if .ByComeTimes.Active }}active disabled{{ end }}">co次数</a>
            </div>
        {{ end }}
    {{ end }}
{{ end }}