{{ define "menu" }}
    <!-- ========== Header ========== -->
    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="/" class="logo logo-light">
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect vertical-menu-btn">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>

            <div class="d-flex">
                <div class="dropdown d-none d-lg-inline-block">
                    <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                        <i class="mdi mdi-fullscreen font-size-24"></i>
                    </button>
                </div>

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>

                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="/login">
                            <i class="mdi mdi-lock-open-outline font-size-17 text-muted align-middle me-1"></i> Login
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/logout">
                            <i class="mdi mdi-power font-size-17 text-muted align-middle me-1 text-danger"></i> Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">
        <div data-simplebar class="h-100">
            <div id="sidebar-menu">
                <ul class="metismenu list-unstyled" id="side-menu">
                    <li class="menu-title">Main</li>

                    <!-- MovieCard -->
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-book-open-outline"></i><span>MovieCard</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/cardstoday">Today</a></li>
                            <li><a href="/cardshasrank">HasRank</a></li>
                            <li><a href="/moviecarddayrank">DayRank</a></li>
                            <li><a href="/cardsowned">Owned</a></li>
                            <li><a href="/cardsneeddownload">NeedDownload</a></li>
                            <li><a href="/cardsrandom">Random</a></li>
                            <li><a href="/cardsrandompick">RandomPick</a></li>
                        </ul>
                    </li>

                    <!-- Agg -->
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-book-open-outline"></i><span>MovieCard</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/movie-agg-all/release">Agg-All-Release</a></li>
                            <li><a href="/movie-agg-owned/release">Agg-Own-Release</a></li>
                            <li><a href="/movie-agg-owned/birth">Agg-Own-Birth</a></li>
                            <li><a href="/dir/1">Directory</a></li>
                        </ul>
                    </li>

                    <!-- Other -->
	                    <li>
	                        <a href="javascript: void(0);" class="has-arrow waves-effect">
	                            <i class="mdi mdi-dots-horizontal"></i><span>Other</span>
	                        </a>
	                        <ul class="sub-menu" aria-expanded="false">
	                            <li><a href="/triggers">CrawlerJobs</a></li>
	                            <li><a href="/crawler/tasks">CrawlerTasks</a></li>
	                            <li><a href="/sc-triggers">ScPreview</a></li>
	                            <li><a href="/sc-events">ScEvents</a></li>
	                            <li><a href="/sc-agg">ScAgg</a></li>
	                            <li><a href="/casts">Casts</a></li>
                            <li><a href="/sc/pick-copy">ScPickCopy</a></li>
                            <li><a href="/sc-pick-smart">ScPickSmart</a></li>
                            <li><a href="/records">Records</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{{ end }}
