{{ define "base.detail" }}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ if .Title }}{{ .Title }} - {{ end }}Rudy-GC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/icons.min.css" rel="stylesheet">
        <link href="/static/css/app.min.css" rel="stylesheet">
        <link href="/static/css/dataTables.bootstrap4.min.css" rel="stylesheet">
        <link href="/static/css/buttons.bootstrap4.min.css" rel="stylesheet">
        <link href="/static/css/responsive.bootstrap4.min.css" rel="stylesheet">
        <link href="/static/css/custom/a_moviecardlist.css" rel="stylesheet">
        <link href="/static/css/custom/a_moviedetail.css" rel="stylesheet">
        <link href="/static/css/custom/open_finder.js" rel="stylesheet">
        {{ block "extra_css" . }}{{ end }}
    </head>
    <body data-sidebar="dark">
    {{ template "menu" . }}
    <main class="main-content">
        {{ template "content.detail" . }} <!-- 🔴 只渲染详情页专用 block -->
    </main>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/metisMenu.min.js"></script>
    <script src="/static/js/simplebar.min.js"></script>
    <script src="/static/js/waves.min.js"></script>
    <script src="/static/js/jquery.sparkline.min.js"></script>
    <script src="/static/js/dataTables.buttons.min.js"></script>
    <script src="/static/js/buttons.bootstrap4.min.js"></script>
    <script src="/static/js/jszip.min.js"></script>
    <script src="/static/js/buttons.html5.min.js"></script>
    <script src="/static/js/buttons.print.min.js"></script>
    <script src="/static/js/buttons.colVis.min.js"></script>
    <script src="/static/js/dashboard.init.js"></script>
    <script src="/static/js/app.js"></script>
    {{ block "extra_js" . }}{{ end }}
    </body>
    </html>
{{ end }}